.nav-list {
  @include list0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-size: $s_4;
  line-height: $l_4;
}

.nav-list__item {
  position: relative;

  margin: 0 5px;
}

.nav-list__link {
  text-decoration: none;
  color: $grey;

  &:hover {
    color: $red;
  }

  &:active {
    opacity: 0.6;
  }
}

.nav-list__arrow {
  position: absolute;
  content: "";

  top: 50%;
  right: -18px;

  fill: $grey;

  transform: translate(0, -50%) rotate(90deg);
}

.nav-list__item:first-child .nav-list__link .nav-list__arrow {
  fill: $white;
}

@media (min-width: $width-desktop) {
  .nav-list__item {
    margin: 0 25px;
  }
}
