// переменные цветов
$black: #000000; //black
$white: #ffffff; //black
$grey: #6e6e6e; //grey
$darkgrey: #313131; //darkgrey

$yellow: #d1e44a; //yellow
$lime: #9dd946; //lime
$pink: #fbebde; //pink
$orange: #fb580d; //orange
$red: #c73601; //red

// переменные ширин
$width-mobile: 320px;
$width-tablet: 720px;
$width-desktop: 1440px;

// переменные шрифтов
$s_1: 16px; //use
$l_1: 30px;
$s_2: 12px; //use
$l_2: 24px;
