// переменные цветов
$black: #000000;
$white: #ffffff;
$grey: #6e6e6e;
$darkgrey: #313131;

$yellow: #d1e44a;
$lime: #9dd946;
$pink: #fbebde;
$orange: #fb580d;
$red: #c73601;

// переменные ширин
$width-mobile: 320px;
$width-tablet: 780px;
$width-desktop: 1440px;

// переменные шрифтов
$s_1: 16px; //use
$l_1: 30px;
$s_2: 12px; //use
$l_2: 24px;
$s_3: 18px; //use
$l_3: 24px;
