-
  var popularItems=[
  {
  "id": "578",
  "img": ["img/model1", "img/model2", "img/model3", "img/model4", "img/model5"],
  "name": "tango 10",
  "price": "115",
  "sizes": ["2", "3", "4", "5"],
  "colors": ["cyan", "red", "orange", "violet"]
  },
  {
  "id": "321",
  "img": ["img/model2", "img/model2", "img/model3", "img/model4", "img/model5"],
  "name": "tango 20",
  "price": "116",
  "sizes": ["2", "3", "4", "5"],
  "colors": ["cyan", "red", "orange", "violet"]
  },
  {
  "id": "121",
  "img": ["img/model3", "img/model2", "img/model3", "img/model4", "img/model5"],
  "name": "tango 30",
  "price": "126",
  "sizes": ["2", "3", "4", "5"],
  "colors": ["cyan", "red", "orange", "violet"]
  }
  ]

  var allItems=[
  {
  "id": "578",
  "img": ["img/model1", "img/model2", "img/model3", "img/model4", "img/model5"],
  "name": "tango 10",
  "price": "115",
  "sizes": ["2", "3", "4", "5"],
  "colors": ["cyan", "red", "orange", "violet"]
  },
  {
  "id": "321",
  "img": ["img/model2", "img/model2", "img/model3", "img/model4", "img/model5"],
  "name": "tango 20",
  "price": "116",
   "sizes": ["2", "3", "4", "5"],
  "colors": ["cyan", "red", "orange", "violet"]
  },
  {
  "id": "121",
  "img": ["img/model3", "img/model2", "img/model3", "img/model4", "img/model5"],
  "name": "tango 30",
  "price": "126",
  "sizes": ["2", "3", "4", "5"],
  "colors": ["cyan", "red", "orange", "violet"]
  },
  {
  "id": "121",
  "img": ["img/model4", "img/model2", "img/model3", "img/model4", "img/model5"],
  "name": "tango 30",
  "price": "126",
  "sizes": ["2", "3", "4", "5"],
  "colors": ["cyan", "red", "orange", "violet"]
  },
  {
  "id": "121",
  "img": ["img/model5", "img/model2", "img/model3", "img/model4", "img/model5"],
  "name": "tango 30",
  "price": "126",
  "sizes": ["2", "3", "4", "5"],
  "colors": ["cyan", "red", "orange", "violet"]
  }
  ]
