.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 90%;

  margin: 0 auto;
  padding: 50px 0;

  border-top: 1px solid $grey;
}

.footer .logo {
  margin: 0 0 50px 0;
}

.footer .nav-list {
  margin: 0 0 10px 0;
}

.footer .logo__icon {
  margin: 0;
}

.footer .logo__tagline {
  display: none;
}

.footer .user-menu-list__icon {
  fill: $red;
}

.footer .user-menu-list__link:hover .user-menu-list__icon {
  fill: $orange;
}

@media (min-width: $width-tablet) {
  .footer {
    flex-direction: row;
  }

  .footer .logo,
  .footer .nav-list,
  .footer .user-menu-list {
    margin: 0 20px 0 0;
  }
}
