.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 90%;

  margin: 0 auto;
  padding: 50px 0;

  border-top: 1px solid $grey;
}

.footer .logo__icon,
.footer .nav-list {
  margin: 0 0 50px 0;
}


@media (min-width: $width-tablet) {
  .footer {
    flex-direction: row;
  }

  .footer .logo__icon,
  .footer .nav-list {
    margin: 0 20px 0 0;
  }
}

@media (min-width: $width-desktop) {
  .footer {
    width: 1125px;

    padding: 100px 0;
  }
}
