.section-header {
  margin: 0 0 10px 0;

  font-weight: 600;
  font-size: 36px;
  line-height: 34px;
  text-align: center;
}

.tagline {
  display: block;

  margin: 0;

  font-size: 13px;
  line-height: 18px;
  color: $grey;
  text-align: center;
}

.page-wrapper {
  display: block;

  width: 100%;

  margin: 0 auto;

  background-color: $pink;

  box-shadow: 0px 0px 300px 0px rgba(163, 163, 163, 1);
}

.btn {
  display: block;

  background-color: $yellow;
  color: $black;

  text-decoration: none;
  text-align: center;

  font-size: 14px;
  line-height: 24px;

  width: 126px;

  padding: 13px;

  &:hover {
    cursor: pointer;

    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.btn--up {
  width: 150px;
  margin: 50px auto 50px auto;
}

@media (min-width: $width-desktop) {
  .page-wrapper {
    width: $width-desktop; //ограничивает десктопную ширину стр
  }
}
