@font-face {
  font-weight: normal;
  font-family: "Georgia";
  font-style: normal;
  font-display: optional;
  src: url("../fonts/Georgia.woff2") format("woff2"), url("../fonts/Georgia.woff") format("woff"); }

img {
  max-width: 100%; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.section-header {
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 34px;
  text-align: center; }

.tagline {
  display: block;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #6e6e6e;
  text-align: center; }

.page-wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  background-color: #fbebde;
  box-shadow: 0px 0px 300px 0px #a3a3a3; }

.page-wrapper--nojs {
  padding-top: 0; }

.btn {
  display: block;
  background-color: #d1e44a;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  width: 126px;
  padding: 13px; }
  .btn:hover {
    cursor: pointer;
    opacity: 0.8; }
  .btn:active {
    opacity: 0.6; }

.btn--up {
  width: 150px;
  margin: 0 auto 50px auto; }

@media (min-width: 1440px) {
  .page-wrapper {
    width: 1440px; } }

.body {
  position: relative;
  font-family: Georgia, Times, serif;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2; }

.body--index .logo__icon,
.body--cart .user-menu-list__item--cart,
.body--order .user-menu-list__item--order,
.body--index .site-menu-list__item--index,
.body--stock .site-menu-list__item--stock,
.body--stock .nav-list__item--stock,
.body--delivery .site-menu-list__item--delivery,
.body--delivery .nav-list__item--delivery,
.body--contacts .site-menu-list__item--contacts,
.body--contacts .nav-list__item--contacts,
.body--catalog .site-menu-list__item--catalog,
.body--catalog .nav-list__item--catalog {
  pointer-events: none !important;
  cursor: default !important; }

.body--stock .nav-list__item--stock .nav-list__link,
.body--delivery .nav-list__item--delivery .nav-list__link,
.body--contacts .nav-list__item--contacts .nav-list__link,
.body--catalog .nav-list__item--catalog .nav-list__link {
  color: #c73601; }

.body--cart .user-menu-list__item--cart .user-menu-list__link,
.body--order .user-menu-list__item--order .user-menu-list__link,
.body--index .site-menu-list__item--index .site-menu-list__link,
.body--stock .site-menu-list__item--stock .site-menu-list__link,
.body--delivery .site-menu-list__item--delivery .site-menu-list__link,
.body--contacts .site-menu-list__item--contacts .site-menu-list__link,
.body--catalog .site-menu-list__item--catalog .site-menu-list__link {
  color: #d1e44a; }

.body--cart .user-menu-list__item--cart .user-menu-list__icon,
.body--order .user-menu-list__item--order .user-menu-list__icon,
.body--index .site-menu-list__item--index .site-menu-list__icon,
.body--stock .site-menu-list__item--stock .site-menu-list__icon,
.body--delivery .site-menu-list__item--delivery .site-menu-list__icon,
.body--contacts .site-menu-list__item--contacts .site-menu-list__icon,
.body--catalog .site-menu-list__item--catalog .site-menu-list__icon {
  fill: #d1e44a; }

.body--cart .footer .user-menu-list__item--cart .user-menu-list__icon {
  fill: #fb580d; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  margin: 0 0 50px 0;
  z-index: 3; }

.header--nojs {
  position: static; }

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto; }

@media (min-width: 1440px) {
  .header {
    width: 1440px;
    margin-bottom: 100px; } }

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.site-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  width: 100%;
  font-size: 18px;
  line-height: 24px; }

.site-menu-list--nojs {
  display: block; }

.site-menu-list--open {
  display: block;
  -webkit-animation-name: slideInDown, fadeIn;
          animation-name: slideInDown, fadeIn;
  -webkit-animation-duration: 0.3s, 1s;
          animation-duration: 0.3s, 1s; }

.site-menu-list__item {
  position: relative; }
  .site-menu-list__item:hover .site-menu-list__icon {
    fill: #d1e44a; }
  .site-menu-list__item:active {
    opacity: 0.6; }

.site-menu-list__icon {
  position: absolute;
  content: "";
  top: 50%;
  fill: #ffffff; }

.site-menu-list__icon {
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.site-menu-list__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 0;
  text-align: center; }
  .site-menu-list__link:hover {
    color: #d1e44a; }

@media (min-width: 890px) {
  .site-menu-list {
    display: flex;
    flex-wrap: wrap;
    width: auto; }
  .site-menu-list__item {
    display: flex;
    align-items: center;
    margin: 0 30px 0 0; }
  .site-menu-list__item:last-child {
    margin-right: 0; }
  .site-menu-list__link {
    padding: 26px 0 26px 40px; }
  .site-menu-list__item:first-child .site-menu-list__link {
    padding: 26px 0; } }

.user-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 12px;
  line-height: 24px; }

.user-menu-list__item {
  margin: 0 20px 0 0; }

.user-menu-list__item:last-child {
  margin-right: 0; }

.user-menu-list__item--cart .user-menu-list__link {
  position: relative;
  padding: 30px 0 14px 0; }
  .user-menu-list__item--cart .user-menu-list__link .user-menu-list__counter {
    position: absolute;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    top: 14px;
    right: -13px;
    width: 22px;
    height: 22px;
    background-color: #c73601;
    border-radius: 50%; }

.user-menu-list__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 26px 0; }
  .user-menu-list__link:hover {
    color: #d1e44a; }
    .user-menu-list__link:hover .user-menu-list__icon {
      fill: #d1e44a; }
  .user-menu-list__link:active {
    opacity: 0.6; }

.user-menu-list__icon {
  fill: #ffffff; }

.menu-button {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background-color: transparent; }
  .menu-button:hover {
    cursor: pointer; }
    .menu-button:hover::before, .menu-button:hover::after {
      background-color: #d1e44a; }
    .menu-button:hover::before {
      box-shadow: 0px 11px 0px 0px #d1e44a; }
  .menu-button:active {
    opacity: 0.6; }
  .menu-button::before, .menu-button::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 24px;
    height: 3px;
    background-color: #ffffff;
    content: ""; }
  .menu-button::before {
    top: 0;
    box-shadow: 0px 11px 0px 0px #ffffff; }
  .menu-button::after {
    bottom: 0; }

.menu-button--nojs {
  display: none; }

.menu-button--menu-open:hover::before {
  box-shadow: none; }

.menu-button--menu-open::before {
  top: 10px;
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
          transform: translate(-50%, 0) rotate(-45deg);
  transition: 0.5s;
  box-shadow: none; }

.menu-button--menu-open::after {
  bottom: 10px;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
  transition: 0.5s; }

@media (min-width: 890px) {
  .menu-button {
    display: none; } }

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 20px 0; }

.logo__icon {
  display: block;
  margin: 0 0 10px 0;
  padding: 5px 0;
  text-decoration: none;
  color: #c73601;
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  border-top: 2px dashed #000000;
  border-bottom: 2px dashed #000000; }
  .logo__icon:hover {
    opacity: 0.8; }
  .logo__icon:active {
    opacity: 0.6; }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  line-height: 28px; }

.nav-list__item {
  position: relative;
  margin: 0 5px; }

.nav-list__link {
  text-decoration: none;
  color: #6e6e6e; }
  .nav-list__link:hover {
    color: #c73601; }
  .nav-list__link:active {
    opacity: 0.6; }

.nav-list__arrow {
  position: absolute;
  content: "";
  top: 50%;
  right: -18px;
  fill: #6e6e6e;
  -webkit-transform: translate(0, -50%) rotate(90deg);
          transform: translate(0, -50%) rotate(90deg); }

.nav-list__item:first-child .nav-list__link .nav-list__arrow {
  fill: #ffffff; }

@media (min-width: 780px) {
  .nav-list__item {
    margin: 0 25px; } }

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fb580d;
  margin: 50px 0; }

.slider__btn-prev,
.slider__btn-next {
  display: none; }

@media (min-width: 1440px) {
  .slider {
    margin-top: 100px; }
  .slider__btn-prev,
  .slider__btn-next {
    display: block;
    width: 78px;
    height: 78px;
    color: #000000;
    border: 0;
    background-color: #d1e44a; }
    .slider__btn-prev:hover,
    .slider__btn-next:hover {
      cursor: pointer;
      opacity: 0.8; }
    .slider__btn-prev:active,
    .slider__btn-next:active {
      opacity: 0.6; }
  .slider__btn-prev svg {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg); } }

.slide {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  padding-left: 10%; }

.slide__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 80%;
  height: 400px; }

.slide__item {
  display: none;
  max-width: 400px;
  height: 300px;
  padding: 50px 0; }

.slide__img {
  display: none;
  position: absolute;
  bottom: 0;
  left: 660px;
  width: 250px;
  height: 600px;
  background: no-repeat top right; }

.slide__item--show {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.slide__period {
  display: block;
  font-size: 24px;
  line-height: 30px;
  color: #313131; }

.slide__header {
  margin: 0;
  font-size: 38px;
  line-height: 43px; }

.slide__text {
  margin: 0; }

.slide__text b {
  color: #313131;
  font-weight: 600; }

.slide__btn {
  position: relative; }
  .slide__btn:after {
    position: absolute;
    content: ">";
    top: 50%;
    right: 18px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.slide__selector {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-top: 50px; }

.slide__selector--nojs {
  display: none; }

.slide__radiolabel {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: transparent; }
  .slide__radiolabel:hover {
    cursor: pointer; }

.slide__radiolabel--checked {
  background-color: #d1e44a; }

@media (min-width: 780px) {
  .slide__img {
    display: block;
    left: 65%; } }

@media (min-width: 1440px) {
  .slide {
    width: 1170px;
    padding: 0; }
  .slide__selector {
    align-self: center;
    padding: 0; }
  .slide__list {
    height: 500px;
    padding: 0 0 0 110px; }
  .slide__item {
    max-width: 550px;
    height: 300px;
    padding: 100px 0; } }

.goods {
  width: 270px;
  margin: 0 auto 50px auto;
  padding: 0 15px; }

.goods__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto 0 auto; }

.goods__item {
  position: relative;
  width: 270px;
  height: 450px;
  margin: 0 0 20px 0;
  background-color: #d1e44a; }
  .goods__item:hover {
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.1); }
  .goods__item:hover .goods__popup,
  .goods__item:hover .goods__info-row {
    display: block; }
  .goods__item:hover .goods__info-row:first-child {
    display: flex; }
  .goods__item:hover .goods__info-block {
    background-color: #ffffff; }

.goods__img {
  position: absolute;
  width: 90%;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.goods__popup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
  padding: 67px 0;
  background-color: rgba(199, 54, 1, 0.24);
  z-index: 2; }

.goods__cart-btn,
.goods__show-btn {
  margin: 0 auto;
  width: 150px;
  border: none;
  text-transform: uppercase; }

.goods__cart-btn {
  margin-bottom: 10px;
  background-color: #fb580d; }

.goods__info-block {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 210px;
  padding: 15px 30px;
  background-color: #fbebde;
  z-index: 2; }

.goods__info-row {
  display: none;
  margin-bottom: 20px;
  color: #6e6e6e;
  font-size: 14px;
  line-height: 18px; }

.goods__info-row:first-child {
  display: flex;
  justify-content: space-between; }

.goods__info-row:last-child {
  margin-bottom: 0; }

.goods__head {
  margin: 0 0 6px 0;
  color: #000000;
  font-size: 18px;
  line-height: 24px; }

.goods__price {
  margin: 0;
  padding: 9px 0;
  font-size: 24px;
  line-height: 18px;
  color: #c73601;
  font-weight: 600; }

.goods__info-row ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }
  .goods__info-row ul li {
    margin-right: 10px; }

.goods__text {
  margin: 0;
  text-align: center; }

.goods__color {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%; }

.goods__color--red {
  background-color: #ff0033; }

.goods__color--orange {
  background-color: #ff4200; }

.goods__color--cyan {
  background-color: #33cccc; }

.goods__color--violet {
  background-color: #6666cc; }

@media (min-width: 660px) {
  .goods {
    width: 90%; } }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
  border-top: 1px solid #6e6e6e; }

.footer .logo {
  margin: 0 0 50px 0; }

.footer .nav-list {
  margin: 0 0 10px 0; }

.footer .logo__icon {
  margin: 0; }

.footer .logo__tagline {
  display: none; }

.footer .user-menu-list__icon {
  fill: #c73601; }

.footer .user-menu-list__link:hover .user-menu-list__icon {
  fill: #fb580d; }

@media (min-width: 780px) {
  .footer {
    flex-direction: row; }
  .footer .logo,
  .footer .nav-list,
  .footer .user-menu-list {
    margin: 0 20px 0 0; } }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  line-height: 28px; }

.nav-list__item {
  position: relative;
  margin: 0 5px; }

.nav-list__link {
  text-decoration: none;
  color: #6e6e6e; }
  .nav-list__link:hover {
    color: #c73601; }
  .nav-list__link:active {
    opacity: 0.6; }

.nav-list__arrow {
  position: absolute;
  content: "";
  top: 50%;
  right: -18px;
  fill: #6e6e6e;
  -webkit-transform: translate(0, -50%) rotate(90deg);
          transform: translate(0, -50%) rotate(90deg); }

.nav-list__item:first-child .nav-list__link .nav-list__arrow {
  fill: #ffffff; }

@media (min-width: 780px) {
  .nav-list__item {
    margin: 0 25px; } }

.social {
  display: flex;
  align-items: center; }

.social__phrase {
  margin-right: 20px;
  text-align: center; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.social__link {
  position: relative;
  padding: 6px 20px; }
  .social__link:hover .social__icon {
    fill: #fb580d; }
  .social__link:active {
    opacity: 0.6; }

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #c73601; }

.delivery {
  width: 90%;
  margin: 0 auto 50px auto; }

.delivery__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px; }

.delivery__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-bottom: 50px; }

.delivery__list:before,
.delivery__list:after {
  position: absolute;
  content: "";
  top: -40px;
  width: 10px;
  height: 272px;
  background-image: url("../img/mask.png"); }

.delivery__list:before {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.delivery__list:after {
  right: 0; }

.delivery input[type="radio"] {
  display: none; }

.delivery__list label {
  display: block;
  padding: 15px 0 15px 22px;
  background-color: #d1e44a;
  cursor: pointer; }

.delivery__item:hover label {
  background-color: #fb580d; }

.delivery input#slide1:checked ~ .delivery__list label[for=slide1],
.delivery input#slide2:checked ~ .delivery__list label[for=slide2],
.delivery input#slide3:checked ~ .delivery__list label[for=slide3],
.delivery input#slide4:checked ~ .delivery__list label[for=slide4],
.delivery input#slide5:checked ~ .delivery__list label[for=slide5],
.delivery input#slide6:checked ~ .delivery__list label[for=slide6] {
  cursor: context-menu;
  background-color: #fb580d; }

.delivery__promo {
  display: none;
  padding: 0;
  background-repeat: no-repeat;
  background-position: right 50px; }

.delivery__promo h3 {
  margin: 0;
  margin-bottom: 20px; }

.delivery__promo p {
  margin: 0;
  padding-top: 200px; }

.delivery input#slide1:checked ~ .delivery__promo--1,
.delivery input#slide2:checked ~ .delivery__promo--2,
.delivery input#slide3:checked ~ .delivery__promo--3,
.delivery input#slide4:checked ~ .delivery__promo--4,
.delivery input#slide5:checked ~ .delivery__promo--5,
.delivery input#slide6:checked ~ .delivery__promo--6 {
  display: block; }

@media (min-width: 780px) {
  .delivery__wrapper {
    flex-direction: row;
    margin-top: 50px; }
  .delivery__list {
    width: 350px;
    margin: 0; }
  .delivery__promo {
    width: 740px;
    padding: 0 80px; }
  .delivery__promo p {
    width: 60%;
    padding: 0; }
  .delivery__list:before {
    content: none; } }

.stock {
  width: 90%;
  margin: 0 auto 50px auto; }

.stock__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px; }

.stock__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%; }

.stock__item {
  margin-bottom: 20px; }

.stock__wrapper:nth-child(1n) .stock__item:nth-child(1) {
  min-height: 360px;
  background: no-repeat #d1e44a top right; }
  .stock__wrapper:nth-child(1n) .stock__item:nth-child(1) .stock__content {
    padding: 20px 40px 0 20px; }

.stock__wrapper:nth-child(1n) .stock__item:nth-child(2) {
  min-height: 380px;
  background: no-repeat #fb580d top right; }
  .stock__wrapper:nth-child(1n) .stock__item:nth-child(2) .stock__content {
    padding: 20px 40px 0 20px; }

.stock__wrapper:nth-child(2n) .stock__item:nth-child(1) {
  min-height: 450px;
  background: no-repeat #fb580d bottom right; }
  .stock__wrapper:nth-child(2n) .stock__item:nth-child(1) .stock__content {
    padding: 20px 40px 0 20px; }

.stock__wrapper:nth-child(2n) .stock__item:nth-child(2) {
  min-height: 290px;
  background: no-repeat #d1e44a top right; }
  .stock__wrapper:nth-child(2n) .stock__item:nth-child(2) .stock__content {
    padding: 20px 40px 0 20px; }

.stock__period {
  display: block;
  margin: 0 0 10px 0;
  color: #313131; }

.stock__head {
  margin: 0;
  font-size: 18px;
  line-height: 24px; }

.stock__text {
  color: #313131; }

.contacts {
  width: 90%;
  margin: 0 auto 50px auto; }

.contacts__text {
  max-width: 500px;
  margin: 50px 0; }

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.contacts__item {
  position: relative;
  margin: 0 0 20px 0;
  padding-left: 40px; }
  .contacts__item a {
    text-decoration: none;
    color: #c73601; }
    .contacts__item a:hover {
      opacity: 0.8; }
      .contacts__item a:hover .contacts__icon {
        fill: #fb580d; }
    .contacts__item a:active {
      opacity: 0.6; }

.contacts__icon {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  fill: #c73601; }

.cart {
  width: 90%;
  margin: 0 auto 50px auto; }

.cart__table {
  width: 100%;
  margin: 50px 0;
  border-collapse: collapse; }

.cart__table caption {
  text-align: left;
  margin: 0 0 20px 0; }

.cart__table td {
  padding: 0 10px;
  text-align: center;
  border: 1px solid #000000; }

.cart__total {
  width: 90%;
  margin: 0 0 50px 0; }
  .cart__total output {
    margin-left: 10px; }

.btn--order {
  width: 150px;
  margin: 0 0 50px 0; }

.photo {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3; }

.photo--show {
  display: block; }

.photo__block {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #fbebde;
  top: 50%;
  left: 50%;
  width: 85%;
  max-width: 700px;
  height: 90%;
  padding: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: -27px 27px 30px 10px rgba(110, 110, 110, 0.5); }

.photo__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: 90%;
  margin: 0 auto; }

.photo__header {
  margin: 0 30px 5px 30px;
  text-align: center;
  font-size: 18px; }

.photo__item-large {
  height: 80%;
  margin: 0 0 2px 0; }

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 20%; }

.photo__item {
  height: 45%;
  margin: 2px; }

.photo__img-large,
.photo__img-small {
  height: 100%;
  outline: 1px solid #6e6e6e; }

.photo__img-small:hover {
  cursor: pointer;
  outline: 1px solid #313131;
  -webkit-filter: saturate(200%);
          filter: saturate(200%); }

.photo__img-small:active {
  opacity: 0.8; }

.photo__img-small--active {
  outline: 1px solid #fb580d;
  -webkit-filter: saturate(200%);
          filter: saturate(200%); }

.photo__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #fb580d; }
  .photo__close:after, .photo__close:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    background-color: #000000; }
  .photo__close:after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg); }
  .photo__close:before {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg); }
  .photo__close:hover {
    cursor: pointer; }
    .photo__close:hover:after, .photo__close:hover:before {
      background-color: #d1e44a; }
  .photo__close:active {
    opacity: 0.6; }

@media (min-width: 780px) {
  .photo__wrapper {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .photo__item-large {
    height: 100%;
    margin: 0 2px 0 0; }
  .photo__list {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: auto; }
  .photo__item {
    height: 20%;
    margin: 0 2px; }
  .photo__header {
    font-size: 22px; }
  .photo__close {
    width: 30px;
    height: 30px; }
    .photo__close:after, .photo__close:before {
      width: 20px; } }
