.photo {
  display: none;
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  z-index: 3;
}

.photo--show {
  display: block;
}

.photo__block {
  position: fixed;

  background-color: $yellow;

  top: 50%;
  left: 50%;

  width: 80%;
  height: 70%;

  padding: 10px;

  transform: translate(-50%, -50%);
}

.photo__wrapper {
  display: flex;
  justify-content: space-around;

  height: 90%;
}

.photo__item-large {
  height: 100%;
}

.photo__list {
  @include list0;

  display: flex;
  flex-direction: column;

  height: 100%;
}

.photo__item {
  height: 20%; //5 шт max
}

.photo__header {
  min-width: 200px;

  margin: 0 auto 10px auto;

  text-align: center;
  font-size: 18px;
}

.photo__img-large,
.photo__img-small {
  height: 100%;
  outline: 1px solid $grey;
}

.photo__img-large {
  // border-radius: 5%;
}

.photo__img-small {

  &:hover {
    cursor: pointer;
    outline: 1px solid $darkgrey;
    filter: saturate(200%)
  }

  &:active {
    opacity: 0.8;
  }
}

.photo__img-small--active {
  outline: 1px solid $orange;
  filter: saturate(200%)
}

.photo__close {
  position: absolute;

  top: 10px;
  right: 10px;

  width: 20px;
  height: 20px;

  border: none;
  border-radius: 50%;
  background-color: $orange;

  &:after,
  &:before {
    position: absolute;
    content: "";

    top: 50%;
    left: 50%;

    width: 10px;
    height: 2px;

    background-color: $black;
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {
    cursor: pointer;

    &:after,
    &:before {
      background-color: $yellow;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $width-tablet) {
  .photo__block {
    width: 50%;
    box-shadow: -27px 27px 30px 10px rgba(110,110,110,0.5);
  }

  .photo__header {
    font-size: 22px;
  }

  .photo__close {
    width: 30px;
    height: 30px;

    &:after,
    &:before {
      width: 20px;
    }
  }
}
