.photo {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.popup__wrapper {
  display: flex;
  margin-bottom: 20px;
}

.photo__item-large {
  // height: 60%;
}

.photo__img-large {
  height: 90%;
}

.photo__list {
  @include list0;
  margin-left: 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  // outline: 1px solid blue; //temp
}

.photo__item {
  // box-sizing: border-box;
  width: 15px;
  height: 15px;
  margin: 0 20px 0 0;
  border-radius: 50%;
  border: 2px solid transparent;

  &:hover {
    cursor: pointer;
    border-color: $lime;
  }
}

.photo__item--active,
.photo__item--active:hover {
  cursor: default;
  border-color: $lime;
}

.photo__img-large {
  outline: 2px solid $lime;
}

.photo__close {
  position: absolute;

  top: 10px;
  right: 10px;
}

@media (min-width: $width-tablet) {
  // .photo__wrapper {
  //   flex-direction: row;
  //   flex-wrap: nowrap;
  //   justify-content: flex-start;
  // }

  // .photo__description {
  //   display: block;
  // }

  .photo__item-large {
    // height: 100%;
    // margin: 0 4px 0 0;
  }

  .photo__list {
    // flex-direction: column;
    // justify-content: flex-start;
    // flex-wrap: wrap;

    // height: 100%;
    // width: auto;
  }

  .photo__item {
    // height: 20%;
    // margin: 0 4px;
  }
}
