.logo {
  padding: 180px 10px 0 10px;
  margin: 0 0 20px 0;
}

.logo__icon {
  display: block;

  margin: 0 0 20px 0;

  text-decoration: none;
  color: $black;
  font-weight: 600;

  font-size: 36px;
  line-height: 30px;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $width-desktop) {
  .logo__icon {
    width: 300px;
    margin: 0 auto 20px auto;
  }
}
