.cart {
  width: 90%;

  margin: 0 auto 50px auto;
}

.cart__emptynotify {
  margin: 100px 0;
}

.cart__emptynotify--hide {
  display: none;
}

.cart__table {
  width: 100%;

  margin: 50px 0;

  border-collapse: collapse;
}

.cart__table--hide {
  display: none;
}

.cart__table tr {
  font-size: 10px;
}

.cart__table caption {
  text-align: left;
  margin: 0 0 20px 0;
}

.cart__table td {
  padding: 0 2px;

  text-align: center;

  border: 1px solid $black;
}

.cart__total {
  width: 90%;

  margin: 0 0 50px 0;

  & output {
    margin-left: 10px;
  }
}

.cart__total--hide {
  display: none;
}

.cart__btn {
  width: 100%;
  padding: 5px;
}

.cart__btn--order {
  width: 150px;

  margin: 0 0 50px 0;
}

.cart__btn--order--hide {
  display: none;
}

.cart__btn--delete {
  background-color: $orange;
}

@media (min-width: $width-tablet) {
  .cart__table tr {
    font-size: 16px;
  }
}
