-
  var stockItems=[
  {
  "imgStock": "../img/model_1.png",
  "imgSlide": "../img/female_3.png",
  "period": "Весна 2019",
  "header": "Супер скидки",
  "text": "На каждую 3 пару колготок <b>скидка 20%!</b>"
  },
  {
  "imgStock": "../img/model_2.png",
  "imgSlide": "../img/female_1.png",
  "period": "8 марта",
  "header": "Весна рядом",
  "text": "Порадуй любимую! <b>Коробка колготок</b> от 999р."
  },
  {
  "imgStock": "../img/model_3.png",
  "imgSlide": "../img/female_2.png",
  "period": "Весь Апрель",
  "header": "Плати меньше",
  "text": "Каждая 6 пара колготок <b>бесплатно!</b>"
  },
  {
  "imgStock": "../img/model_4.png",
  "imgSlide": "../img/female_3.png",
  "period": "Весь Май",
  "header": "Весенняя акция",
  "text": "<b>Бесплатная доставка</b> при заказе от 5 шт."
  }
  ]
