.stock {
  width: 90%;

  margin: 50px auto;
}

.stock__list {
  @include list0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 50px;
}

.stock__wrapper {
  width: 48%;
}

.stock__item {
  margin-bottom: 20px;
}

.stock__item--1 {
  background: url("../img/model_1.png") no-repeat $yellow top right;

  & .stock__content {
    padding: 20px 0 180px 20px;
  }
}

.stock__item--2 {
  background: url("../img/model_2.png") no-repeat $orange top right;

  & .stock__content {
    padding: 20px 0 350px 20px;
  }
}

.stock__item--3 {
  background: url("../img/model_3.png") no-repeat $orange bottom right;

  & .stock__content {
    padding: 20px 0 350px 20px;
  }
}

.stock__item--4 {
  background: url("../img/model_4.png") no-repeat $yellow top right;

  & .stock__content {
    padding: 20px 0 180px 20px;
  }
}

.stock__head {
  width: 90px;

  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

.stock__link {
  position: relative;

  font-size: 12px;
  line-height: 24px;
  color: $grey;
  text-decoration: none;

  &:after {
    position: absolute;
    content: ">";

    top: 50%;
    right: -18px;

    transform: translate(0, -50%);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $width-desktop) {
  .stock__item {
    margin-bottom: 50px;
  }
}
