.stock {
  width: 1170px;

  margin: 100px auto;
  padding: 0 15px;
}

.stock__header {
  margin: 0 0 20px 0;
}

.stock__tagline {

}

.stock-list {
  display: flex;
  flex-wrap: wrap;

  margin: 100px 0 0 0;
  padding: 0;

  list-style: none;
}

.stock-list__wrapper {
  margin: 0 30px 0 0;
}

.stock-list__item {
  background-repeat: no-repeat;
}

.stock-list__wrapper:nth-child(even) {
  margin-right: 0;
}

.stock-list__item--1 {
  margin-bottom: 50px;

  background-color: $yellow;
  background-image: url("../img/model_1.png");
  background-position: top right;

  & .stock-list__content {
    padding: 100px 0 100px 35px;
  }
}

.stock-list__item--2 {
  background-color: $orange;
  background-image: url("../img/model_2.png");
  background-position: top right;

  & .stock-list__content {
    padding: 200px 0 170px 35px;
  }
}

.stock-list__item--3 {
  margin-bottom: 50px;

  background-color: $orange;
  background-image: url("../img/model_3.png");
  background-position: bottom right;

  & .stock-list__content {
    padding: 330px 0 40px 35px;
  }
}

.stock-list__item--4 {
  background-color: $yellow;
  background-image: url("../img/model_4.png");
  background-position: top right;

  & .stock-list__content {
    padding: 40px 0 160px 35px;
  }
}

.stock-list__content {
  width: 530px;
}

.stock-list__header {
  width: 90px;

  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

.stock-list__link {
  position: relative;

  font-size: 12px;
  line-height: 24px;
  color: $grey;
  text-decoration: none;

  &:after {
    position: absolute;
    content: ">";

    top: 50%;
    right: -18px;

    transform: translate(0, -50%);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
