.stock {
  width: 90%;

  margin: 0 auto 50px auto;
}

.stock__list {
  @include list0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 50px;
}

.stock__wrapper {
  width: 48%;
}

.stock__item {
  margin-bottom: 20px;
}

.stock__wrapper:nth-child(1n) {

  & .stock__item:nth-child(1) {
    background: no-repeat $yellow top right;

    & .stock__content {
      padding: 20px 0 180px 20px;
    }
  }

  & .stock__item:nth-child(2) {
    background: no-repeat $orange top right;

    & .stock__content {
      padding: 20px 0 300px 20px;
    }
  }
}

.stock__wrapper:nth-child(2n) {

  & .stock__item:nth-child(1) {
    background: no-repeat $orange bottom right;

    & .stock__content {
      padding: 20px 0 350px 20px;
    }
  }

  & .stock__item:nth-child(2) {
    background: no-repeat $yellow top right;

    & .stock__content {
      padding: 20px 0 130px 20px;
    }
  }
}

.stock__period {
  display: block;

  margin: 0 0 10px 0;

  color: $darkgrey;
}

.stock__head {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

.stock__text {
  color: $darkgrey;
}

@media (min-width: $width-desktop) {
  .stock__item {
    margin-bottom: 50px;
  }
}
