@font-face {
  font-weight: normal;
  font-family: "Ubuntu-Regular";
  font-style: normal;
  font-display: optional;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"),
  url("../fonts/Ubuntu-Regular.woff") format("woff");
}

html,
body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

@import "variables/variables.scss";

@import "srvc/srvc.scss";

@import "body/body.scss";

@import "header/header.scss";

@import "site-menu-list/site-menu-list.scss";

@import "user-menu-list/user-menu-list.scss";

@import "menu-button/menu-button.scss";

@import "logo/logo.scss";

@import "nav-list/nav-list.scss";

@import "slider/slider.scss";

@import "slide/slide.scss";

@import "footer/footer.scss";

@import "goods/goods.scss";

@import "nav-list/nav-list.scss";

@import "social/social.scss";

@import "delivery/delivery.scss";

@import "stock/stock.scss";

@import "contacts/contacts.scss";

@import "cart/cart.scss";

@import "order/order.scss";

@import "popup/popup.scss";

@import "photo/photo.scss";

@import "preorder/preorder.scss";

@import "msg/msg.scss";
