.msg__text {
  margin: 20px auto;

  color: $red;
  text-align: center;
  font-size: 18px;
}

.msg--show {
  display: block;
  animation-name: fadeIn;
  animation-duration: 0.3s;
}

.msg__icon {
  width: 100%;
  margin: 0 auto;

  fill: $orange;
}
