.slide {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%; //320

  padding: 0 10px;

  padding-left: 10%;
}

.slide__list {
  margin: 0;
  padding: 0;

  width: 80%; //260
  height: 400px;

  list-style: none;
}

.slide__item {
  display: none;

  max-width: 400px;
  height: 300px;
  padding: 50px 0;

  &:after {
    position: absolute;

    bottom: 0;
    left: 660px;
  }
}

.slide__item--1 {

  &:after {
    width: 230px;
    height: 606px;

    background-image: url("../img/female_3.png");
  }
}

.slide__item--2 {

  &:after {
    width: 246px;
    height: 605px;

    background-image: url("../img/female_1.png");
  }
}

.slide__item--3 {

  &:after {
    width: 215px;
    height: 606px;

    background-image: url("../img/female_2.png");
  }
}

.slide__item--show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.slide__period {
  display: block;

  font-size: 24px;
  line-height: 30px;
  color: $darkgrey;
}

.slide__header {
  margin: 0;

  font-size: 38px;
  line-height: 43px;
}

.slide__text {
  margin: 0;
}

.slide__text b {
  color: $darkgrey;
  font-weight: 600;
}

.slide__btn {
  position: relative;

  &:after {
    position: absolute;
    content: ">";

    top: 50%;
    right: 18px;

    transform: translate(0, -50%);
  }
}

.slide__selector {
  display: flex;
  flex-direction: column;

  align-self: flex-start;
  padding-top: 50px;
}

.slide__radio {
  display: none;
}

.slide__radiolabel {
  width: 10px;
  height: 10px;

  margin-bottom: 10px;

  border: 1px solid $black;
  border-radius: 50%;

  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

@media (min-width: $width-tablet) {
  .slide__item::after {
    content: "";
    left: 65%;
  }
}

@media (min-width: $width-desktop) {
  .slide {
    width: 1170px;

    padding: 0;
  }

  .slide__selector {
    align-self: center;
    padding: 0;
  }

  .slide__list {
    height: 500px;
    padding: 0 0 0 110px;
  }

  .slide__item {
    max-width: 550px;
    height: 300px;

    padding: 100px 0;
  }
}
