.header {
  position: fixed;
  top: 0;

  width: 100%;
  background-color: $black;

  margin: 0 0 50px 0;

  z-index: 3;
}

.header--nojs {
  position: static;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 90%;

  margin: 0 auto;
}

@media (min-width: $width-desktop) {
  .header {
    width: $width-desktop;
    margin-bottom: 100px;
  }

  // .header__wrapper .user-menu-list {
  //   order: 2;
  // }
}
