.delivery {
  width: 90%;

  margin: 0 auto 50px auto;
}

.delivery__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 50px;
}

.delivery__list {
  @include list0;
  position: relative;

  margin-bottom: 50px;
}

.delivery__list:before,
.delivery__list:after {
  position: absolute;
  content: "";

  top: -40px;

  width: 10px;
  height: 272px;

  background-image: url("../img/mask.png");
}

.delivery__list:before {
  left: 0;

  transform: rotate(180deg);
}

.delivery__list:after {
  right: 0;
}

.delivery input[type="radio"] {
  display: none;
}

.delivery__list label {
  display: block;

  padding: 15px 0 15px 22px;

  background-color: $yellow;

  cursor: pointer;
}

.delivery__item:hover label {
  background-color: $orange;
}

.delivery input#slide1:checked~.delivery__list label[for=slide1],
.delivery input#slide2:checked~.delivery__list label[for=slide2],
.delivery input#slide3:checked~.delivery__list label[for=slide3],
.delivery input#slide4:checked~.delivery__list label[for=slide4],
.delivery input#slide5:checked~.delivery__list label[for=slide5],
.delivery input#slide6:checked~.delivery__list label[for=slide6] {
  cursor: context-menu;
  background-color: $orange;
}

.delivery__promo {
  display: none;

  padding: 0;

  background-repeat: no-repeat;
  background-position: right 50px;
}

.delivery__promo h3 {
  margin: 0;
  margin-bottom: 20px;
}

.delivery__promo p {
  margin: 0;
  padding-top: 200px;
}

.delivery input#slide1:checked~.delivery__promo--1,
.delivery input#slide2:checked~.delivery__promo--2,
.delivery input#slide3:checked~.delivery__promo--3,
.delivery input#slide4:checked~.delivery__promo--4,
.delivery input#slide5:checked~.delivery__promo--5,
.delivery input#slide6:checked~.delivery__promo--6 {
  display: block;
}

@media (min-width: $width-tablet) {
  .delivery__wrapper {
    flex-direction: row;

    margin-top: 50px;
  }

  .delivery__list {
    width: 350px;

    margin: 0;
  }

  .delivery__promo {
    width: 740px;

    padding: 0 80px;
  }

  .delivery__promo p {
    width: 60%;
    padding: 0;
  }

  .delivery__list:before {
    content: none;
  }
}
