.delivery {
  width: 90%;

  margin: 50px auto;
}

.delivery__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 50px;
}

.delivery__header {
  margin: 0 0 20px 0;
}

.delivery__list {
  position: relative;

  margin: 0 0 50px 0;
  padding: 0;

  list-style: none;
}

.delivery__list:after {
  position: absolute;
  content: "";

  top: -40px;
  right: 0;

  width: 10px;
  height: 272px;

  background-image: url("../img/mask.png");
}

.delivery input[type="radio"] {
  display: none;
}

.delivery__list label {
  display: block;

  padding: 15px 0 15px 22px;

  background-color: $yellow;

  cursor: pointer;
}

.delivery__item:hover label {
  background-color: $orange;
}

.delivery input#slide1:checked~.delivery__list label[for=slide1],
.delivery input#slide2:checked~.delivery__list label[for=slide2],
.delivery input#slide3:checked~.delivery__list label[for=slide3] {
  cursor: context-menu;
  background-color: $orange;
}

.delivery__promo {
  display: none;

  padding: 0;

  background-repeat: no-repeat;
  background-position: right 50px;
}

.delivery__promo h3 {
  margin: 0;
  margin-bottom: 20px;
}

.delivery__promo p {
  margin: 0;
  padding-top: 200px;
}

.delivery__promo--1 {
  background-image: url("../img/truck.png");
}

.delivery__promo--2 {
  background-image: url("../img/medal.png");
}

.delivery__promo--3 {
  background-image: url("../img/credit.png");
}

.delivery input#slide1:checked~.delivery__promo--1,
.delivery input#slide2:checked~.delivery__promo--2,
.delivery input#slide3:checked~.delivery__promo--3 {
  display: block;
}

@media (min-width: $width-tablet) {
  .delivery {
    // margin: 100px auto;
  }

  .delivery__wrapper {
    flex-direction: row;

    margin-top: 50px;
  }

  .delivery__list {
    width: 350px;

    margin: 0;
  }

  .delivery__promo {
    width: 740px;

    padding: 0 80px;
  }

  .delivery__promo p {
    width: 60%;
    padding: 0;
  }
}
