-
  var deliveryItems=[
  {
  "img": "../img/truck.png",
  "text": "Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Гор вскоре сих даль, щеке злых, эта строчка залетают одна предупреждал имеет пор коварных алфавит бросил скатился встретил дороге грамматики!"
  },
  {
  "img": "../img/medal.png",
  "text": "Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Гор вскоре сих даль, щеке злых, эта строчка залетают одна предупреждал имеет пор коварных алфавит бросил скатился встретил дороге грамматики!"
  },
  {
  "img": "../img/credit.png",
  "text": "Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Гор вскоре сих даль, щеке злых, эта строчка залетают одна предупреждал имеет пор коварных алфавит бросил скатился встретил дороге грамматики!"
  },
  {
  "img": "../img/credit.png",
  "text": "Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Гор вскоре сих даль, щеке злых, эта строчка залетают одна предупреждал имеет пор коварных алфавит бросил скатился встретил дороге грамматики!"
  }
  ]
